<section class="max-w-4xl p-6 mx-auto bg-white rounded-md shadow-md mt-5">
    <h2 class="text-lg font-semibold text-gray-700 capitalize">
      @if(isEditMode()){
        Edit
      }
      @else {
        Add
      }
       Experience
    </h2>
  
    <form [formGroup]="experienceForm" (ngSubmit)="onSubmit()">
      <div class="grid grid-cols-1 gap-6 mt-4 sm:grid-cols-2">
        <div>
          <label class="text-gray-700" for="dates">Dates</label>
          <input
            id="dates"
            formControlName="dates"
            type="text"
            class="block w-full px-4 py-2 mt-2 text-gray-700 bg-white border border-gray-200 rounded-md focus:border-blue-400 focus:ring-blue-300 focus:ring-opacity-40 dark:focus:border-blue-300 focus:outline-none focus:ring"
          />
          @if (experienceForm.get('dates')?.hasError('required') &&
          experienceForm.get('dates')?.touched) {
          <h2 class="text-red-500">Dates is required</h2>
          }
        </div>
        <div>
          <label class="text-gray-700" for="position">Position</label>
          <input
            id="position"
            formControlName="position"
            type="text"
            class="block w-full px-4 py-2 mt-2 text-gray-700 bg-white border border-gray-200 rounded-md focus:border-blue-400 focus:ring-blue-300 focus:ring-opacity-40 dark:focus:border-blue-300 focus:outline-none focus:ring"
          />
          @if (experienceForm.get('position')?.hasError('required') &&
          experienceForm.get('position')?.touched) {
          <h2 class="text-red-500">Position is required</h2>
          }
        </div>
        <div>
          <label class="text-gray-700" for="company">Company</label>
          <input
            id="company"
            formControlName="company"
            type="text"
            class="block w-full px-4 py-2 mt-2 text-gray-700 bg-white border border-gray-200 rounded-md focus:border-blue-400 focus:ring-blue-300 focus:ring-opacity-40 dark:focus:border-blue-300 focus:outline-none focus:ring"
          />
          @if (experienceForm.get('company')?.hasError('required') &&
          experienceForm.get('company')?.touched) {
          <h2 class="text-red-500">Company is required</h2>
          }
        </div>
  
        <div>
          <label class="text-gray-700" for="emailAddress">Description</label>
          <textarea
            id="description"
            formControlName="description"
            class="block w-full px-4 py-2 mt-2 text-gray-700 bg-white border border-gray-200 rounded-md focus:border-blue-400 focus:ring-blue-300 focus:ring-opacity-40 dark:focus:border-blue-300 focus:outline-none focus:ring"
          ></textarea>
          @if (experienceForm.get('description')?.hasError('required') &&
          experienceForm.get('description')?.touched) {
          <h2 class="text-red-500">Description is required</h2>
          }
        </div>
  
        <div>
          <label class="text-gray-700" for="password">Techs</label>
          <input
              style="margin-left:0px"
              class="block w-full px-4 py-2 mt-2 text-gray-700 bg-white border border-gray-200 rounded-md focus:border-blue-400 focus:ring-blue-300 focus:ring-opacity-40 dark:focus:border-blue-300 focus:outline-none focus:ring"
              placeholder="Add a technology"
              [matChipInputFor]="chipGrid"
              [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
              [matChipInputAddOnBlur]="true"
              (matChipInputTokenEnd)="addTech($event)"
            />
            <mat-chip-grid #chipGrid  formControlName="techs" class="mt-2">
            @for(tech of techs(); track tech){
              <mat-chip
              [removable]="true"
              (removed)="removeTech(tech)"
            >
              {{ tech }}
              <mat-icon matChipRemove>cancel</mat-icon>
            </mat-chip>
          }
            
          </mat-chip-grid>
        
          
          @if (experienceForm.get('techs')?.hasError('required') && experienceForm.get('techs')?.touched) {
            <p class="text-red-500 text-sm mt-1">At least one tech is required.</p>
          }
        </div>
        
      </div>
      <div class="flex justify-end mt-6">
        <button
          [disabled]="experienceForm.invalid"
          type="submit"
          class="cursor-pointer px-8 py-2.5 leading-5 text-white transition-colors duration-300 transform bg-gray-700 rounded-md hover:bg-gray-600 focus:outline-none focus:bg-gray-600 disabled:bg-gray-400 disabled:text-gray-300"
        >
          Save
        </button>
      </div>
    </form>
  </section>
  