<section class="max-w-4xl p-6 mx-auto bg-white rounded-md shadow-md mt-5">
  <h2 class="text-lg font-semibold text-gray-700 capitalize">
    @if(isEditMode()){
      Edit
    }
    @else {
      Add
    }
     Project
  </h2>

  <form [formGroup]="projectForm" (ngSubmit)="onSubmit()">
    <div class="grid grid-cols-1 gap-6 mt-4 sm:grid-cols-2">
      <div>
        <label class="text-gray-700" for="username">Name</label>
        <input
          id="name"
          formControlName="name"
          type="text"
          class="block w-full px-4 py-2 mt-2 text-gray-700 bg-white border border-gray-200 rounded-md focus:border-blue-400 focus:ring-blue-300 focus:ring-opacity-40 dark:focus:border-blue-300 focus:outline-none focus:ring"
        />
        @if (projectForm.get('name')?.hasError('required') &&
        projectForm.get('name')?.touched) {
        <h2 class="text-red-500">Name is required</h2>
        }
      </div>

      <div>
        <label class="text-gray-700" for="emailAddress">Description</label>
        <textarea
          id="description"
          formControlName="description"
          class="block w-full px-4 py-2 mt-2 text-gray-700 bg-white border border-gray-200 rounded-md focus:border-blue-400 focus:ring-blue-300 focus:ring-opacity-40 dark:focus:border-blue-300 focus:outline-none focus:ring"
        ></textarea>
        @if (projectForm.get('description')?.hasError('required') &&
        projectForm.get('description')?.touched) {
        <h2 class="text-red-500">Description is required</h2>
        }
      </div>

      <div>
        <label class="text-gray-700" for="password">Github Link</label>
        <input
          id="gitHubLink"
          formControlName="gitHubLink"
          type="text"
          class="block w-full px-4 py-2 mt-2 text-gray-700 bg-white border border-gray-200 rounded-md focus:border-blue-400 focus:ring-blue-300 focus:ring-opacity-40 dark:focus:border-blue-300 focus:outline-none focus:ring"
        />
        @if (projectForm.get('gitHubLink')?.hasError('required') &&
        projectForm.get('gitHubLink')?.touched) {
        <h2 class="text-red-500">Github link is required</h2>
        }
      </div>
      <div>
        <label class="text-gray-700" for="password">Techs</label>
        <input
            style="margin-left:0px"
            class="block w-full px-4 py-2 mt-2 text-gray-700 bg-white border border-gray-200 rounded-md focus:border-blue-400 focus:ring-blue-300 focus:ring-opacity-40 dark:focus:border-blue-300 focus:outline-none focus:ring"
            placeholder="Add a technology"
            [matChipInputFor]="chipGrid"
            [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
            [matChipInputAddOnBlur]="true"
            (matChipInputTokenEnd)="addTech($event)"
          />
          <mat-chip-grid #chipGrid  formControlName="techs" class="mt-2">
          @for(tech of techs(); track tech){
            <mat-chip
            [removable]="true"
            (removed)="removeTech(tech)"
          >
            {{ tech }}
            <mat-icon matChipRemove>cancel</mat-icon>
          </mat-chip>
        }
          
        </mat-chip-grid>
      
        
        @if (projectForm.get('techs')?.hasError('required') && projectForm.get('techs')?.touched) {
          <p class="text-red-500 text-sm mt-1">At least one tech is required.</p>
        }
      </div>
      <div>
        <label class="text-gray-700" for="password">Project Images</label>
        <input
          id="fileUpload"
          type="file"
          multiple
          accept="image/*"
          (change)="onFilesSelected($event)"
          class="hidden"
        />
        <label
          for="fileUpload"
          class="inline-block w-full cursor-pointer px-4 py-2 mt-2 text-center text-white bg-gray-500 rounded-md hover:bg-gray-600 focus:outline-none focus:ring"
        >
          Select Images
        </label>
        <div class="flex gap-2 mt-4 flex-wrap">
          @for(file of selectedFiles();track file){
          <img
            [src]="getImagePreview(file)"
            class="w-24 h-24 object-cover rounded"
          />
          }
        </div>
        @if(isEditMode()){
          <h2 class="text-gray-700 mt-2 mb-2">Existing Images</h2>
          <div class="grid grid-cols-3">
            @for(image of initialImages();track image){
              <div class="flex flex-col">
                <img
                [src]="image"
                class="w-24 h-24 object-cover rounded"
              />
              <button (click)="removeImage(image)" class="float-right" type="button" mat-icon-button><mat-icon>cancel</mat-icon></button>
              </div>
              
            }
            @empty {
              <small class="text-red-500 text-small mt-2 mb-2">project has no images</small>
            }
          </div>
        }
      </div>
    </div>
    <div class="flex justify-end mt-6">
      <button
        [disabled]="projectForm.invalid"
        type="submit"
        class="cursor-pointer px-8 py-2.5 leading-5 text-white transition-colors duration-300 transform bg-gray-700 rounded-md hover:bg-gray-600 focus:outline-none focus:bg-gray-600 disabled:bg-gray-400 disabled:text-gray-300"
      >
        Save
      </button>
    </div>
  </form>
</section>
